dataset
datatest
nick
__pycache__
D
DataSet
dataset_d
project
dataset.txt
datatest.txt
PythonApplication1.pyproj
PythonApplication1.py
dataset1.txt

Em_1/
Em_2/
Em_3/
Em_4/
Em_5/
Em_6/
Em_7/
Project.pyproj
Project.sln
Untitled.ipynb
alpha1.0.0.py
alpha1.0.0.pyproj
dataset1/
dataset2.txt
dataset2/
dataset3/
dataset4/
dataset5/
dataset6.txt
dataset7.txt
dataset7/
datasetV/
val/
Project.py

/env/
.gitignore
