dataset
datatest
nick
dataset.txt
datatest.txt
haarcascade_frontalface_default.xml
shape_predictor_68_face_landmarks.dat
PythonApplication1.pyproj
PythonApplication1.py
DejaVuSans.ttf
Em_1.txt
Em_1_128.txt
Em_2.txt
Em_2_128.txt
Em_3.txt
Em_3_128.txt
Em_4.txt
Em_4_128.txt
Em_5_128.txt
Em_6.txt
Em_6_128.txt
Em_7_128.txt
dataset1.txt
svm_dat.dat
svn_dat.dat
Em_1/
Em_2/
Em_3/
Em_4/
Em_5.txt
Em_5/
Em_6/
Em_7.txt
Em_7/
Project.pyproj
Project.sln
Untitled.ipynb
alpha1.0.0.py
alpha1.0.0.pyproj
dataset1/
dataset2.txt
dataset2/
dataset3/
dataset4/
dataset5/
dataset6.txt
dataset7.txt
dataset7/
datasetV/
dlib_face_recognition_resnet_model_v1.dat
val/
Project.py